*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}
#navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 239, 239);
    
    
  }
.nav-link{
    text-decoration: none;
    color:black;
}
#portfolio-logo
{
    height:75px;
    margin-left: 25px;
    padding: 10px;
}
.nav{
    margin-right:15px;
    margin-bottom: 10px;
}
.hero{
    height:100vh;
    width:100vw;
    
}
.hero>img{
    width:38%;
    position:absolute;
    right:7%;
    top:10%;
    transform: translateY(-2%);
}
#intro{
    position:relative;
    height:50%;
    width:45%;
   
    color:#000;
    top:18%;
    left:8%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    font-family: 'Monterrat',sans-serif;
}
#intro>h3{
    font-size:30px;
    font-weight: 500;
    font-family: 'Monterrat',sans-serif;
}
.animated-text{
    font-size:50px;
    font-weight:600;
    min-width: 200px;
}
.animated-text span{
    position: relative;

}
.animated-text span::before{
    content: "Developer";
    color:#FFBD58;
    animation: words 20s infinite;
}
.animated-text span::after{
    content:"";
    position:absolute;
    width: calc(100% + 8px);
    height:100%;
    background-color: #fff;
    border-left:2px solid #FFBD58;
    right:-8px;
    animation: cursor .9s infinite, typing 20s steps(14) infinite;
}    

@keyframes cursor {
    to{
        border-left:2px solid #fff;
    }
    
}
@keyframes words{
    0%,25%{
          content: "Developer";
    }
    26%,40%{
        content: "Web Designer";
  }
  41%,60%{
    content: "Progammer";
}
61%,80%{
    content: "Traveller";
}
81%,100%{
    content: "Developer";
}
}

@keyframes typing{
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width:0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% +8px);
}
}
#about-section{
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;


}
.about-me{
    background: url('./computer.jpg') no-repeat left;
    background-size: 75%;
    background-color: #fdfdfd;
    overflow:hidden;
    padding: 100px 0;
}

.testimonial{
    width:75%;
    float:right;
    background-color: #fdfdfd;
    padding:150px;
}
.testimonial h1{
    margin-bottom:30px;
    font-size: 50px;
    font-weight:700;
}
blockquote{
    font-size: 18px;
    color: #545454;
    line-height: 30px;
    text-align:justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px)
{
    .testimonial{
        padding: 80px;
    }
}
@media screen and (max-width:1000px)
{
    .about-me{
        background-size:100%;
        padding:100px 40px;
    }
    .testimonial{
        width:100%;
    }
}
@media screen and (max-width:600px)
{
    .about-me{
        
        padding:0;
    }
    .testimonial{
        padding:60px;
    }
}




#main-skills-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.skills{
    width: 100%;
    max-width:600px;
    padding: 0 20px;
    
}
.skills>h1{
    font-family: 'Monterrat',sans-serif;
    font-size:50px;
    font-weight:600;
    text-align: center;
}

.skill-name{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: 'Monterrat',sans-serif;
}
.skill-bar{
    height: 14px;
    background:#7b7b7b;
    border-radius: 3px;
}
.skill-per{
    height:14px;
    background:#FFBD58;
    border-radius: 3px;
    position:relative;
    animation:fillbars 2s 1;
}
.skill-per::before{
    content:attr(per);
    position: absolute;
    padding:4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top:-35px;
    right:0;
    transform: translateX(50%);
}
.skill-per::after{
    content: "";
    position:absolute;
    width:10px;
    height: 10px;
    background: #f1f1f1;
    top:-15px;
    right:0;
    transform:translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillbars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}